
.navbar-custom {
    background-color: #2D3748;
    margin: 1rem;
    border-radius: 4px;

}

.errorMessage {
    color: rgba(255, 0, 0, 0.76);
}

.nav-link span, .nav-link i {
    color: #bbbbbb;
}


h1, h2, h5, span, td, th, .nav-link {
    font-family: 'Calisto MT', serif;
}








