.navbar-default .navbar-nav > li > a {
    color: white;
}

h1, h2 {
    color: #0a58ca;
}

.errorMessage {
    color: rgba(255, 0, 0, 0.76);
}

.search-text {
    color: #0f5132;
}

.navbar-custom {
    background-color: #2D3748;
    margin-left: 100px;
    margin-right: 100px;
    border-radius:10px
}

.logoutButton {
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    color: #1a1d20;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
}

.modal-body{
    justify-content:center;
}

.add-product {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(2, 200px);
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-button {
    background-color:DodgerBlue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:#fff;
}

