<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Products-Spring MVC Application</title>
    <th:block th:insert="~{@{/layout/header}}"></th:block>
</head>
<body>
<div class="p-4 shadow-4 rounded-3">
    <div class="row text-center">
        <div class="row">
            <h1 th:inline="text">Welcome, <span th:text="${#authentication.name}">User</span> to my
                e-Warehouse!</h1>
        </div>
    </div>
    <div class="text-center">
        <img src="../../static/images/warehouse-abstract.jpg" width="800" height="400"
             th:src="@{../images/warehouse-abstract.jpg}" alt="image"/>
    </div>
</div>
</body>
</html>