<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Products</title>
    <th:block th:insert="~{@{/layout/header}}"></th:block>
    <th:block th:insert="~{@{/layout/searchPanel}}"></th:block>
</head>
<body>

<div class="container">
        <div th:if="${ #lists.isEmpty(products)}"><br>
            <div class="alert alert-primary text-center" role="alert">There are no products yet. If you want to add some
                new one please click <a class="link-offset-2 link-underline link underline-opacity-75" th:href="@{/products/add}">add new product</a>
            </div>
        </div>
        <br>
        <h2>All products</h2>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.type}">Type</td>
                <td th:text="${product.category}">Category</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <a th:href="${'/products/edit/' + product.id}" class="btn btn-secondary">Edit</a>
                </td>
                <td>
                    <a th:href="${'/products/delete/' + product.id}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>