<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<th:block th:insert="~{/layout/header}"></th:block>
<br>
<th:block th:insert="~{/layout/searchPanel}" style="justify-content: center"></th:block>

<div class="container">
    <div th:if="${ #lists.isEmpty(products)}"><br>
        <div class="alert alert-primary text-center" role="alert">
            There are no products yet. If you want to add some new one please click
            <a th:href="@{/products/add}"><i class="fa-regular fa-square-plus"></i><span>  Add new product</span> </a>
        </div>
    </div>

    <div style="display: flex; justify-content: right;">
        <a class="btn btn-sm btn-outline-info"
           th:href="@{/products/export-to-excel}">
            <i class="fa-solid fa-download"></i><span> Click here to download
        </span></a>
    </div>
    <br>
    <div class="add-product">
        <h2>All products</h2>
        <a class="btn add-button" role="button" th:href="@{/products/add}"
           style="display: flex; align-items: center; justify-content: center; gap:10px">
            <i class="fa-regular fa-square-plus"></i>
            <span>Add new product</span></a>
    </div>

    <!--    Table-->
    <table class="table table-striped">
        <tr>
            <th>
                <a th:href="@{/page/1(sort-field='name', sort-dir=${reverseSortDir})}">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                </a>
                Name
            </th>
            <th><a th:href="@{/page/1(sort-field='price', sort-dir=${reverseSortDir})}">
                <i class="fa-solid fa-arrow-down-short-wide"></i>
            </a>
                Price
            </th>
            <th>
                <a th:href="@{/page/1(sort-field='quantity', sort-dir=${reverseSortDir})}">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                </a>
                Quantity
            </th>
            <th>Description</th>
            <th><a th:href="@{/page/1(sort-field='category.name', sort-dir=${reverseSortDir})}">
                <i class="fa-solid fa-arrow-down-short-wide"></i>
            </a>
                Category
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.price}">Price</td>
            <td th:text="${product.quantity}">Quantity</td>
            <td th:text="${product.description}">Description</td>

            <td>
                <ul th:each="category : ${product.category}"
                    th:text="${category.name} + ' '">Category
                </ul>
            </td>
            <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a th:href=" ${'/products/edit/' + product.id}" class="btn btn-primary">Edit</a>
            </td>
            <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a th:href="${'/products/delete/' + product.id}" class="btn btn-danger">Delete</a>
            </td>
            <td th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a style="color: gray; cursor: pointer"><u>Edit</u></a>
            </td>
            <td th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a style="color: gray; cursor: pointer"><u>Delete</u></a>
            </td>
        </tr>
    </table>

    <!--    Pagination-->
    <div th:if="${totalPages > 1}">
        <div class="container">
            <nav aria-label="page-navigation">
                <div class="col-sm-10">
                    <span><strong style="color:#0a58ca">The total number of products:</strong>
                    </span> <span style="color:#bb2d3b" th:text="${totalItems}"></span>
                </div>

                <ul class="pagination justify-content-center">

                    <li class="page-item">
                        <a class="page-link active" th:if="${currentPage - 1 != 0}"
                           th:href="@{'/page/' + ${currentPage - 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}">Previous</a>
                    </li>
                    <li class="page-item " th:each="i : ${#numbers.sequence(1, totalPages -1 )}">
                        <a class="page-link " th:if="${currentPage != i}"
                           th:href="@{'/page/' + ${i} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                           th:text="${i}">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link " th:if="${currentPage < totalPages}"
                           th:href="@{'/page/' + ${currentPage + 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}">Next</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link " th:if="${currentPage < totalPages}"
                           th:href="@{'/page/' + ${totalPages}+ '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7a8065c196.js" crossorigin="anonymous"></script>
</body>
</html>