<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7a8065c196.js" crossorigin="anonymous"></script>

    <th:block th:insert="~{/layout/header}"></th:block>
    <br>
</head>
<body>
<div class="container">
    <h2>All users</h2>
    <table  class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                User have been successfully deleted!
            </div>
        </div>
        <div th:if="${userCanNotBeDeleteException}">
            <div class="alert alert-danger">Sorry! But you can not delete this user</div>
        </div>

        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>

            <td>
                <a th:href="${'/delete/' + user.id}" class="btn btn-outline-danger">Delete user</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>